

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*label {
	display: inline-block;
    font-size: 15px;
    text-align: left;
    width: 100px;
}*/
.label-150 label{
	width:150px;
	margin: 0 0 0 35%;
	}
	
.btn-modify{
	
	margin: 0 0 0 58%;
}

.btn-modify-1{
	margin: 0 0 0 42%;
}


.btn-modify-2{
	padding: 0px 20px;	
}

.btn-modify-3{
	margin:0 0 0 10px;	
}


.label-100 label{
	width:100px;
	margin: 0 0 0 35%;
	}
.navbar-form input {
	margin-top:0px;
}

.div-500{
	width:500px;	
}

.pad-400{
	padding-left:400px;	
}


.span-modify{
	width:130px;
}

.nic_edit{
	width:100%;	
}


.address{
	min-height:57px;	
}

.heading{
	border-bottom:solid 1px #0099FF;	
}

.white-block
{
background:#FFFFFF;
padding:10px 30px;
-moz-box-shadow: 0 0 5px 5px #ccc ;
-webkit-box-shadow: 0 0 5px 5px #ccc;
box-shadow: 0 0 5px 5px #ccc;

}

table
{   
background-color: transparent;
max-width: 100%;
margin-bottom: 20px;
width: 100%;
font-size:13px;
border:none;	
}
tr
{
border:none;
}

td,th
{	
padding:5px;
border:1px solid #DDDDDD;
text-align:center;
}


.nicEdit-main_1{
	background-color:#FFFFFF;	
}

.area-height{
	min-height:300px;	
}

.hidden-file{
	display:none !important;	
}

.margin-10{
	margin:10px;	
}

.margin-top-10{
	margin-top:10px;	
}

#routeid span{
	font-size:20px;	
	width:100%;
	padding-top:10px;
}



.hidecontent{
	display:none;	
}


.routeid{	
	background-color:#D8D2D1;	
}

.accordion-heading .accordion-toggle {
	padding:0px;	
}

