<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>neeta</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.neeta.fliters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/home.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.neeta.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSONSaveStation</servlet-name>
    <servlet-class>com.neeta.controller.JSONSaveStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONSaveStation</servlet-name>
    <url-pattern>/JSONSaveStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSONAllStations</servlet-name>
    <servlet-class>com.neeta.controller.JSONAllStations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONAllStations</servlet-name>
    <url-pattern>/JSONAllStations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSONDeleteStation</servlet-name>
    <servlet-class>com.neeta.controller.JSONDeleteStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONDeleteStation</servlet-name>
    <url-pattern>/JSONDeleteStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSONEditStation</servlet-name>
    <servlet-class>com.neeta.controller.JSONEditStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONEditStation</servlet-name>
    <url-pattern>/JSONEditStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSONAllRoutes</servlet-name>
    <servlet-class>com.neeta.controller.JSONAllRoutes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONAllRoutes</servlet-name>
    <url-pattern>/JSONAllRoutes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSONRouteData</servlet-name>
    <servlet-class>com.neeta.controller.JSONRouteData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONRouteData</servlet-name>
    <url-pattern>/JSONRouteData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteRoute</servlet-name>
    <servlet-class>com.neeta.controller.DeleteRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoute</servlet-name>
    <url-pattern>/admin/DeleteRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BusList</servlet-name>
    <servlet-class>com.neeta.controller.BusList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusList</servlet-name>
    <url-pattern>/admin/BusList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RouteList</servlet-name>
    <servlet-class>com.neeta.controller.RouteList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteList</servlet-name>
    <url-pattern>/admin/RouteList</url-pattern>
  </servlet-mapping>
</web-app>